@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

// Файл обнуляющих стилей
@import "nullstyle.scss";

$colorheader: #4d4959;
$colordescription: #f7f7f7;
$colordescriptiontext: #848789;

body {
	font-family: 'Lato';
	background-color: #282828;
}

.page {
	max-width: 1600px;
	margin: 0 auto;
}

.header {
	padding: 35px 500px 680px 483px;
	background: url(../img/bg_block_1.png) left no-repeat;
	display: flex;
	color: $colorheader;
	font-size: 13px;
	text-transform: uppercase;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2.5px;
	

	&__about-title {
		white-space: nowrap;
		margin-right: 36px;
		margin-top: -8px;
	}

	&__dot {
		margin-right: 31px;
		margin-top: -8px;
	}

	&__work-title {
		margin-right: 61px;
		margin-top: -8px;
	}

	&__image {
		margin-right: 64px;
	}

	&__shop-title {
		margin-right: 30px;
		margin-top: -8px;
	}

	&__dot {
		margin-right: 31px;
		margin-top: -8px;
	}

	&__contact-title{
		margin-top: -8px;
	}
}


.container {
}

.description {
	padding: 117px 0 135px;
	text-align: center;
	background-color: $colordescription;

	&__image {
		margin-bottom: 32px;
	}

	&__text {
		margin: 0 auto;
		margin-top: 22px;
		width: 67.6%;
		line-height: 34px;
		font-size: 18px;
		color: $colordescriptiontext;
	}
}

.block-title {
	text-transform: uppercase;
	color: #353738;
	font-weight: 700;
	font-size: 18px;
	
}



.vintage-oliva {
	display: flex;

	&__main-image {
		background: url(../img/vintage-oliva-logo.png)center no-repeat;
		}

	&__picture1{
		position: relative;
		z-index: -1;
	}

	&__description {
		padding-top: 70px;
		text-align: center;
		background-color: #fff;
	}

	&__icon {
		margin-bottom: 29px;
	}

	&__text {
		padding: 0 56px 0 69px;
		margin-top: 14px;
		text-align: justify;
		font-size: 16px;
		color: #848789;
		line-height: 30px;
	}

	&__underline {
		margin: 0 auto;
		height: 35px;
		width: 50px;
		border-bottom: 1px solid rgba($color: #848789, $alpha: 0.3);
		margin-bottom: 54px;
		position: relative;
	}

	&__underline::after{
		content: '';
		
		margin-top: 89px;
		position: absolute;
		border: 10.5px solid transparent; 
		border-top: 11px solid #fff;
		left: 30%;
		}
}

.la-boriosa {
	display: flex;

	&__main-image {
		background: url(../img/la-boriso-logo.png)center no-repeat;
		}

	&__picture1{
		position: relative;
		z-index: -1;
	}

	&__description {
		padding-top: 61px;
		text-align: center;
		background-color: #fff;
	}

	&__icon {
		margin-bottom: 27px;
	}

	&__text {
		padding: 0 56px 0 69px;
		margin-top: 14px;
		text-align: justify;
		font-size: 16px;
		color: #848789;
		line-height: 30px;
	}

	&__underline {
		margin: 0 auto;
		height: 35px;
		width: 50px;
		border-bottom: 1px solid rgba($color: #848789, $alpha: 0.3);
		margin-bottom: 63px;
		position: relative;
	}

	&__underline::after{
		content: '';
		
		margin-top: 98px;
		position: absolute;
		border: 10.5px solid transparent; 
		border-top: 11px solid #fff;
		left: 30%;
		}
}

.hulot {
	display: flex;

	&__main-image {
		background: url(../img/hulot-logo.png)center no-repeat;
		}

	&__picture1{
		position: relative;
		z-index: -1;
	}

	&__description {
		flex-direction: column;
		padding-top: 58px;
		text-align: center;
		background-color: #fff;
	}

	&__icon {
		margin-bottom: 22px;
	}

	&__text {
		padding: 0 56px 0 69px;
		margin-top: 14px;
		text-align: justify;
		font-size: 16px;
		color: #848789;
		line-height: 30px;
	}

	&__underline {
		margin: 0 auto;
		height: 35px;
		width: 50px;
		border-bottom: 1px solid rgba($color: #848789, $alpha: 0.3);
		margin-bottom: 62px;
		position: relative;
	
	}

	&__underline::after{
		content: '';
		
		margin-top: 97px;
		position: absolute;
		border: 10.5px solid transparent; 
		border-top: 11px solid #fff;
		left: 30%;
	}
}

.feedback {
	padding: 124px 0 68px;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__twitter-icon {
		margin-bottom: 35px;
	}
	
	&__content{
		display: none;
		flex-direction: column;
		align-items: center;
		order: 1;
		margin-bottom: 100px;
	}

	&__twitter-address {
		color: #353738;
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 2px;
		margin-bottom: 18px;
		span{
			font-weight: 400;
			color: #848789;
		}
	}

	&__text {
		text-align: center;
		max-width: 65%;
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
	}
}


.tabs__buttons{
	justify-content: center;
	display: flex;
}
.labell{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1px solid #c9c9c9;
	margin-right: 9px;

	&:last-child{
		margin-right: 0;
	}
	&:focus{
		background-color: #a9afb3;
	}
}

input[name="tab-btn"]{
	display: none;
}

#tab1:checked ~ .comment-box #content1,
#tab2:checked ~ .comment-box #content2,
#tab3:checked ~ .comment-box #content3 {
   display: flex;
}

.showcase {
	display: flex;
}

.board-1 {
	display: flex;
	flex-direction: column;
	&__first-half {
		display: flex;
		flex-direction: row;
	}
}

.board-2 {
	display: flex;
}

.board-3 {
	display: flex;
	flex-direction: column;

	&__first-half{
		position: relative;
		background: url(../img/showcase-pic1-block3.jpg) no-repeat;
		width: 533px;
		height: 267px;
		}

	&__content-box{
		background-color: rgba(88, 165, 137, 0.8);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		letter-spacing: 3px;
	}

	&__image-1 {
		width: auto;
		height: auto;
		margin-bottom: 12px;
	}
		
	&__text{
		text-transform: uppercase;
		color: #fff;
	}
		
	&__second-half{
		display: flex;
	}
}

.shop-button {
background-color: #282f35;
padding-top: 94px;
padding-bottom: 92px;
text-align: center;
	&__link {
		text-decoration: none;
		color: white;
		padding: 16px 53px 15px 57px;
		border: 1px solid rgba($color: #fff, $alpha: 0.5);
		letter-spacing: 2.8px;
		font-weight: 700;
	
	}
}

.mailing {
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fff;
padding: 109px 533px 111px;
	&__logo {
		max-width: 94px;
		height: auto;
		margin-bottom: 35px;
	}
	&__text {
		font-size: 24px;
		font-style: italic;
		color: #848789;
		margin-bottom: 36px;

	}
}


.email-box {

width: 100%;
height: 69px;
& form{
	display: flex;
	width: 100%;
	height: 100%;
}
	&__input {
		
		border: 1px solid #d3d7d9;
		
		color: #929292;
		font-size: 20px;
		font-style: italic;
		width: 74.95%;
		text-indent: 27px;
		margin-right: 8px;
	}
	&__input:focus::-webkit-input-placeholder {color: transparent}
	&__input::-webkit-input-placeholder {opacity: 0.5;}
	&__button {
		
		padding: 19px 0 21px;
		width: 23.5955%;
		background-color: #64c29e;
font-weight: lighter;
color: white;
font-size: 24px;
	}
}

.footer {
	display: flex;
width: 100%;
min-height: 250px;
background-color: #f7f7f7;
&__text {
	line-height: 17.87px;
	font-size: 13.9px;
	font-style: italic;
}
}
.profile {

display: flex;
flex-direction: column;
width: 33.3125%;
color: #848789;
padding: 96px 0 99px 249px;
justify-content: center;

	&__title {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 1px;
	}
	
}

.socials {
display: flex;
width: 33.3750%;
justify-content: center;
align-items: center;

	&__twitter {
		margin-right: 15px;
	}
	&__facebook {
		margin-right: 15px;
	}
	&__pinterest {
	}
}

.creater {
display: flex;
width: 33.3125%;
color: #848789;
align-items: center;
padding-left: 130px;
	&__text {
		margin-right: 10px;
	}
	&__logo {
		
	}
}








